.post{
    width: 80px;
    height: 80px;
border-radius: 50%;









}
.post_parent{
display: flex;
  flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;

    padding-top: 25px;





}

.classSpan{
font-size: 20px;
text-align: center;

}

.span_style{
    background-color: white;
    width: 300px;
    min-height: 50px;
    border-radius: 20px;
    padding: 20px;




}
.message{
    padding: 15px;
}

 p{
padding: 8px;
     color: green;
}




