body{
    background-color: #f5e5d4;
}

.image{
    display: flex;
    width: 900px;


margin: 0 auto;
    border-radius: 10px;

}
.image_flex{
align-items: center;
    text-align: center;

}
.btn_style button {
    border: 0;
    width: 120px;
   min-height: 50px;
    background-color: #be1313;
    color: white;
    border-radius:8px ;

}
.btn_style{
    margin: 5px;
}




